---
import { LoadProductFromCartAction } from "@/actions/cart/load-products-cart.action";
import MainLayout from "@/layouts/MainLayout.astro";

const { data, error } = await Astro.callAction(LoadProductFromCartAction, {});
---

<MainLayout title="Cart">
  <h1>Cart</h1>
  <code>
    {JSON.stringify(data)}
  </code>
</MainLayout>
